:root {
  --color1: #ffaaaa;
  --color2: #d46a6a;
  --color3: #aa3939;
  --color4: #801515;
  --color5: #550000;
  --grey1: #ffffff;
  --grey2: #bbbbbb;
  --grey3: #777777;
  --grey4: #202020;
}

body {
  background-color: var(--color2);
}
h1, h2 {
    color: var(--color5);
}
h3 {
    color: var(--grey4);
}
p {
    color: var(--grey4);
}
a {
  color: var(--color5);
}
a:hover {
    background-color: var(--color5);
    color: var(--color1);
}
body > header {
  background-color: var(--color3);
}

body > header h1 {
  color: var(--color5);
}

body > header h2 {
  color: var(--grey2);
}
body > nav {
  background-color: var(--color1);
}
body > nav a {
  color: var(--color4);
}
body > nav a.select {
  background-color: var(--color4);
  color: var(--color1);
}
body > nav a:hover {
  background-color: var(--color5);
  color: var(--color1);
}
section {
  color: var(--grey2);
}

footer {
  background-color: var(--color1);
  border-top: 1px solid var(--color5);
  border-bottom: 1px solid var(--color5);
}
