body>nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
body>nav li {
}
body>nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vw;
    text-decoration: none;
}
@media (max-width: 600px) {
    body>nav li {
        display: inline-block;
        width: 15vw;
    }
}